body {
  color: #07254c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #6f7d9c;
}

h1 {
  line-height: 1.5em;
}
main,
header {
  border: 2px solid #e9c19f;
  margin: 5px 0px;
}

main,
header {
  /* 'the works' */
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;

  /* short-hand */
  padding: 0px 10px 0px 10px;

  /* short-short-hand */
  padding: 0px 10px;
}

nav {
  margin: 0 auto;
  width: 50%;
}
.sub-ul {
  list-style-type: none;
  line-height: 1.6em;
}

.sub-ul em {
  font-weight: bold;
}

a {
  color: #3a1a00;
}

.navigatie-ul {
  list-style-type: none;
}

.navigatieknop {
  background-color: #091f4d;
  color: #d2d2d2;
  width: 200px;
  padding: 15px;
  font-size: 16px;
}

.infoblok {
  max-width: 400px;
  padding: 20px;
  margin-left: 10px;
}

.nav-item {
  display: inline;
}

.container-1 {
  background-color: chocolate;
  color: gainsboro;
  border: 2px solid gainsboro;
  width: 1000px;
  height: 350px;
  display: flex;
  justify-content: space-around;
}

.blogpost1,
.blogpost2,
.blogpost3,
.blogpost4,
.blogpost5 {
  width: 125px;
  border: 1px solid gainsboro;
  background-color: maroon;
  margin: 20px;
  text-align: center;
}

.blogpost2,
.blogpost4 {
  align-self: flex-end;
}

.blogpost1,
.blogpost3,
.blogpost5 {
  align-self: flex-start;
}

.blogpost4 {
  flex-grow: 3;
}
.foto {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  body {
    background-color: #5e5a57;
    color: #1a1d1e;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
